<section class="section">

  <div class="street">

    <div class="street__line">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <img #Car class="carro" src="../../assets/1505049423.svg" alt="carro">

  </div>

  <button class="button" (click)="onButtonClick()">Button</button>

</section>
